@{
    ViewData["Title"] = "Kết quả tìm kiếm";
}

@model List<DoAnPM_TH_.Models.Product>
<style>
    .rounded-12 {
        border-radius: 12px;
    }

    .img {
        width: 100%;
        height: auto;
    }

    .product-item .card-title {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

</style>
<div style="background-color: #edf0f3;">
    <div class="main__content container pt-3">
        <div class="main__content-list d-flex mt-4 mb-5">
            <div class="col-3 pe-4">
                <div class="p-3 bg-body bg-opacity-25 fw-500">
                    Lọc (<span id="filter-count">0</span>)
                    <a href="#" id="reset-filter" class="float-end text-decoration-underline text-black">Cài lại</a>
                </div>
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item border-bottom border-0">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed fw-500 text-black" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Giá bán
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="btn-group-vertical w-100" role="group" aria-label="Vertical button group">
                                    <button type="button" class="btn btn-white border rounded-3 p-2 mb-2">Dưới 100.000đ</button>
                                    <button type="button" class="btn btn-white border rounded-3 p-2 mb-2">100.000đ đến 300.000đ</button>
                                    <button type="button" class="btn btn-white border rounded-3 p-2 mb-2">300.000đ đến 500.000đ</button>
                                    <button type="button" class="btn btn-white border rounded-3 p-2">Trên 500.000đ</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item border-top border-0">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed fw-500 text-black" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Thương hiệu
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                                    <div class="accordion-body">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
                                            <label class="form-check-label" for="flexCheckDefault">
                                                aaa
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                aa
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                aa
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main__content-product col-9">
                <div class="row row-cols-4">
                    @if (Model != null && Model.Count > 0)
                    {
                        @foreach (var product in Model)
                        {
                            <div class="col product-item pb-3">
                                <div class="card rounded-12">
                                    <a href="@Url.Action("ProductDetails", "Category", new { productId = product.ProId})" class="text-decoration-none text-black">
                                        <img src="@product.ProImg" class="card-img-top product-img p-3" alt="Product Image" />
                                        <div class="card-body">
                                            <h5 class="card-title product-title font-14">@product.ProName</h5>
                                        </div>
                                    </a>
                                    <div class="px-3">
                                        <div class="mb-1">
                                            <div class="font-14 text-blue">
                                                <span>@($"{product.Price:N0}đ")</span>
                                                <span class=""> / Hộp</span>
                                            </div>
                                        </div>
                                        <button type="button" class="add-to-cart btn btn-primary rounded-pill w-100 mb-3"
                                                data-id="@product.ProId"
                                                data-name="@product.ProName"
                                                data-price="@product.Price"
                                                data-img="@product.ProImg">
                                            Chọn mua
                                        </button>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <p>Không tìm thấy sản phẩm nào.</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const priceDisplay = document.getElementById('priceDisplay');

    //Start-Filter
    document.addEventListener('DOMContentLoaded', function () {
        var checkboxes = document.querySelectorAll('.form-check-input');
        var filterCount = document.getElementById('filter-count');
        var resetFilter = document.getElementById('reset-filter');

        //Đếm checkbox
        function updateFilterCount() {
            var checkedCount = document.querySelectorAll('.form-check-input:checked').length;
            filterCount.textContent = checkedCount;

            if (checkedCount > 0) {
                resetFilter.style.display = 'inline';
            } else {
                resetFilter.style.display = 'none';
            }
        }

        checkboxes.forEach(function (checkbox) {
            checkbox.addEventListener('change', updateFilterCount);
        });

        resetFilter.addEventListener('click', function (event) {
            event.preventDefault();

            checkboxes.forEach(function (checkbox) {
                checkbox.checked = false;
            });

            updateFilterCount();
        });

        updateFilterCount();
    });

</script>
